.wrap {
    position: relative;
    left: 50%;
    transform: translateX(-180px);
    width: 360px;
    height: 600px;
    background-color: bisque;
}

.background {
    position: relative;
    left: 50%;
    transform: translateX(-150px);
    top: 20px;
    width: 300px;
    height: 540px;
    background-color: white;
}

.livingSquare {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 30px;
    left: 30px;
    background-color: skyblue;
}

.deadSquare {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 30px;
    left: 30px;
    background-color: grey;
}

#local {
    position: absolute;
    bottom: 10px;
    left: 10%;
}

#remote {
    position: absolute;
    bottom: 10px;
    left: 60%;
}

#test {
    position: absolute;
    left: 50%;
    top: 50%;
}