.background {
    position: relative;
    width: 200px;
    height: 360px;
    background-color: black;
}

.livingSquare {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    left: 20px;
    background-color: skyblue;
}

.deadSquare {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    left: 20px;
    background-color: white;
}